<p class="text-green-800 text-center">Edit Issue</p>
<%= render "form", issues: @issue %>
<%= link_to "Home", projects_path, class: 'btn-primary'%>
<%= link_to "destroy", project_issue_path(@project), data:{turbo_method: :delete}, class: 'btn-primary' %>
