<h1>Show Page</h1>
<br>
<h1><%= @project.name %></h1>
<p><%= @project.description %></p>
<br><br>
<li>
  <%= link_to "Home", projects_path %>
  <%= link_to "destroy", project_path(@project), data:{turbo_method: :delete} %>
</li>
